* {
  margin: 0;
  padding: 0;
}

header {
  border: 2px solid red;
  display: flex;
}

.author_image_content {
  border: 2px solid green;
  max-width: 40vw;
  max-height: 80vh;
  text-align: center;
}

.author_image {
  max-width: 100%;
  max-height: 100%;
}

.author_image_name {
  color: white;
  font-size: 3rem;
  position: relative;
  bottom: 4rem;
}
