* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0790b2;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding: 4em;
}

.author_image_content {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.author_image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 4px black;
  object-fit: cover;
}

.author_image_name {
  color: white;
  font-size: 4rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  align-self: self-end;
  justify-self: center;
  text-align: center;
}

.about_me_content {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.337);
  min-height: 50%;
  padding: 2.5em 2.5em 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;

  align-self: center;
}

.about_me {
  font-size: 3.5rem;
}

.about_text,
.author_links {
  max-width: 900px;
}

.about_text {
  font-size: 1.5rem;
  max-width: 900px;
}

.author_links {
  margin-top: 2em;
  margin-right: 1em;

  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.author_links svg {
  height: 32px;
}

/* Main contents */
.main-content {
  padding: 4em;
}

.main-content > p {
  font-size: 3rem;
  margin-bottom: 0.3em;
}
.section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 4em;
}

.section-container section {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.337);
  height: 600px;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.project-screenshot {
  width: 100%;
  height: 70%;

  align-content: center;
  text-align: center;
  font-size: 3.5rem;

  background-color: #ca8645;
}

.project-name,
.project-description {
  /* Here rem made the 2 classes align. */
  /* em causing irregular padding. */
  padding: 0 1rem 0 1rem;
}

.project-name {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.project-link {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.project-link a svg {
  height: 32px;
}

.project-description {
  font-size: 1.5rem;
  margin-bottom: 3em;
}

/* Footer */
footer {
  /* border: 1px solid darkgoldenrod; */
  background-color: #0790b2;
  margin-top: 4em;
  padding: 4em;

  display: flex;
  flex-wrap: wrap;
}

.contact-div {
  /* border: 1px solid black; */
  flex: 1;
  min-width: 500px;
  color: white;
  font-size: 1.8rem;
}

.contact-div :first-child {
  font-size: 3rem;
}

.contact-div :nth-child(2) {
  max-width: 500px;
}

.contact-div :nth-child(3) {
  margin-bottom: 0;
}

.contact-div > p {
  margin-bottom: 1em;
}

.contact-div :nth-child(5),
.contact-div :nth-child(6) {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-div p svg {
  height: 48px;
}

.contact-div p svg path {
  stroke: white;
}

.contact-me-links {
  margin-top: 2em;
  display: flex;
  gap: 1em;
}

.contact-me-links svg {
  height: 60px;
}

.contact-image {
  /* border: 1px solid blue; */
  flex: 1.4;
}

.contact-image img {
  width: 100%;
  height: 100%;
  min-width: 500px;
}
