* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #0790b2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.author_image_content {
  /* border: 2px solid green; */
  max-width: 750px;
  max-height: 750px;
  /* width: 50%; */
  text-align: center;
  /* To keep the image vertiacally centered */
  display: flex;
  justify-content: center;
  /* To keep the shadow above about_me_content */
  z-index: 1;
  /* For image caption */
  position: relative;
}

.author_image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 4px black;
}

.author_image_name {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 0.2em;
}

.about_me_content {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.337);
  width: 50%;
  min-height: 400px;
  padding: 2.5em 2.5em 3em 1em;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.about_me {
  font-size: 2.5rem;
  padding-bottom: 0.8em;
}

.about_text {
  font-size: 1.5rem;
}
